{
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 120,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": true,
        "explicitTypes": "always"
      }
    },
    {
      "files": "*.nr",
      "options": {
        "printWidth": 100,
        "tabWidth": 4,
        "useTabs": false
      }
    },
    {
      "files": "*.md",
      "options": {
        "printWidth": 80,
        "proseWrap": "always",
        "trailingComma": "none"
      }
    },
    {
      "files": "*.json",
      "options": {
        "printWidth": 120,
        "trailingComma": "none"
      }
    },
    {
      "files": "*.css",
      "options": {
        "singleQuote": false,
        "printWidth": 120
      }
    },
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "tabWidth": 2,
        "singleQuote": false,
        "printWidth": 120
      }
    },
    {
      "files": "*.toml",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}